#root {
  padding: 20px;
   background: linear-gradient(
    135deg,
    #b68cd2,
    #bda6cc,
    #f5e6ff
  );
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.store-name {
  text-align: center;
  font-size: 32px;
  margin: 30px 0;
  color: #333;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  flex: 1 1 220px;
  max-width: 250px;
  border: 1px solid #eed7d7;
  padding: 15px;
  text-align: center;
  border-radius: 18px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card:hover {
  border: 3px solid white;
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.product-pic {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
}

.product-pic:hover {
  /* width: 120%; */
  height: 160px;
  cursor: pointer;
}

.product-name {
  /* font-weight: bold; */
  color: #6c3483;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-name:hover {
  font-weight: bold;
  font-size: 18px;
}

.product-amount {
  font-size: 16px;
  color: #0d2b1d;
  font-weight: bold;
  margin-bottom: 12px;
}

.product-amount:hover {
  font-size: 16.5px;
}


.add-to-cart {
  background: white;
  border: 2px solid purple;
  padding: 10px 15px;
  border-radius: 10px;
  color: purple;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart:hover {
  color: white;
  background-color: purple;
  border: 2px solid white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: linear-gradient(90deg, #a75bba, #764ba2);
  color: white;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  border-bottom: 5px solid white;
  position: sticky;
  top: 0;
}

.navbar:hover {
  border-bottom: none;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.cart-btn {
  background-color:white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

.cart-btn:hover {
  border: 2px solid white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  background:#f4ecfa;
}

.modal-item {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.modal-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding-right: 18px;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  border: 1px solid crimson;
  background-color: white;
  color: crimson;
}

.remove-btn {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.remove-btn:hover {
  background-color: #c62828;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .cart-btn {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }

  .product-pic {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

